Source: libdatovka
Section: libs
Priority: optional
Maintainer: Datovka <datove-schranky@labs.nic.cz>
Uploaders: Karel Slany <karel.slany@nic.cz>
Build-Depends: debhelper (>= 9),
               gettext,
               libcurl4-openssl-dev,
               libexpat-dev,
               libssl-dev,
               libxml2-dev
Standards-Version: 3.9.6
Homepage: http://www.datovka.cz/
Vcs-Git: https://gitlab.nic.cz/datovka/libdatovka.git
Vcs-Browser: https://gitlab.nic.cz/datovka/libdatovka/

Package: libdatovka8
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Czech Data Boxes access library (shared library)
 This library implements all client SOAP services defined in ISDS
 (Informační systém datových schránek) specification as defined in
 Czech ISDS Act (300/2008 Coll.) and implied documents.  This library
 can also submit document for authorized conversion into Czech POINT
 deposit.
 .
 This package contains the shared runtime library.

Package: libdatovka-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libdatovka8 (= ${binary:Version}),
         libxml2-dev,
         ${misc:Depends}
Description: Czech Data Boxes access library (development files)
 This library implements all client SOAP services defined in ISDS
 (Informační systém datových schránek) specification as defined in
 Czech ISDS Act (300/2008 Coll.) and implied documents.  This library
 can also submit document for authorized conversion into Czech POINT
 deposit.
 .
 This package contains the static library and headers.
